.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

D:\GitHub\my_Kaggle\d4_computer_vision\src_dataset\images\*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
